body {
    background-color: white;
    color: #757575;
} 
.list {
    list-style: none;
}
/* цвет основного текста #212121;
 цвет выделенного текста blue #2196F3; 
цвет вторичного текса серый  #757575; 
цвет фона #FFFFFF (белый); 
цвет фона темного #2F303A; 
цвет серый класса #F5F4FA
цвет полупрозрачный белый в подвале #FFFFFF
цвет background #E5E5E5
box-shadow; text-shadow #rgba(0, 0, 0, 0.25)
цвет логотипа color: #000000*/
.logo {
    color: #2196F3;
    color: #000000
}
/* site nav */
.site-nav .link { 
    color: #212121;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: #2196F3;
}
