/* цвет основного текста #212121;
цвет выделенного текста blue #2196F3; 
цвет вторичного текса серый  #757575; 
цвет фона #FFFFFF (белый); 
цвет фона темного #2F303A; 
цвет серый класса #F5F4FA
цвет полупрозрачный белый в подвале #FFFFFF
цвет background #E5E5E5
box-shadow; text-shadow #rgba(0, 0, 0, 0.25)
цвет логотипа color: #000000*/
:root {
    --primary-text-color: #757575;
    --titlt-text-color: #212121;
    --accent-color: #2196F3;
    --head-text-color: #000000;
    --text-bg-white: #FFFFFF;
    --bg-grey: #2F303A
}
body {
    background-color:var(--text-bg-white);
    color: var(--primary-text-color);
} 
.list {
    list-style: none;
}

.logo {
    color: var(--accent-color);
    color: var(--head-text-color)
}
/* фон-hero */
.hero {
color: var(--text-bg-white);
background-color: var(--bg-grey);
}

/* hero */
.hero-title {
    color: var(--text-bg-white);
}
/* site nav */
.site-nav .link { 
    color: var(--titlt-text-color);
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}
.auth-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);}

.section-title {
    color: var(--titlt-text-color);
}
/*кнопка*/
.button {
    color: var(--text-bg-white);
    background-color: var(--accent-color);
}
.footer {
    color: var(--text-bg-white);
    background-color: var(--bg-grey);
}
