/* цвет основного текста #212121;
цвет выделенного текста blue #2196F3; 
цвет вторичного текса серый  #757575; 
цвет фона #FFFFFF (белый); 
цвет фона темного #2F303A; 
цвет серый класса #F5F4FA
цвет полупрозрачный белый в подвале #FFFFFF
цвет background #E5E5E5
box-shadow; text-shadow #rgba(0, 0, 0, 0.25)
цвет логотипа color: #000000*/
:root {
    --primary-text-color: #757575;
    --titlt-text-color: #212121;
    --accent-color: #2196F3;
    --head-text-color: #000000;
    --text-bg-white: #FFFFFF;
    --bg-grey: #2F303A;
    --text-shadow: rgba(0, 0, 0, 0.25);
}
body {
    background-color:var(--text-bg-white);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em
} 
/* логтип */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1,19;
/* identical to box height */
letter-spacing: 0.03em;
}
/* точки */
.list {
    list-style: none;
}
/* сслыки */
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}
.link .link:hover, .link:focus {
    color: var(--text-bg-white);
    background-color: var(--accent-color);}
/* main */
.p {
    color: var(--primary-text-color)
}
.section-title {
    color: var(--titlt-text-color);
}
.section-title-shadow {
    color: var(--text-shadow);
}
.p-shadow {
    color: var(--primary-text-color);
}
/* кнопка */
button {color: var(--text-bg-white);
    background-color: var(--accent-color);  
}
h2 {
    color: var(--titlt-text-color)
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
p {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
}
.footer {
    color: var(--text-bg-white);
    background-color: var(--bg-grey);
}
