/* цвет основного текста #212121;
цвет выделенного текста blue #2196F3; 
цвет вторичного текса серый  #757575; 
цвет фона #FFFFFF (белый); 
цвет фона темного #2F303A; 
цвет серый класса #F5F4FA
цвет полупрозрачный белый в подвале #FFFFFF
цвет background #E5E5E5
box-shadow; text-shadow #rgba(0, 0, 0, 0.25)
цвет логотипа color: #000000*/
:root {
    --primary-text: #757575;
    --secondary-text: #212121;
    --accent: #2196F3;
    --head-text: #000000;
    --text-white: #FFFFFF;
    --bg-grey: #2F303A;
    --text-shadow: rgba(0, 0, 0, 0.25);
    --text-footer: rgba(255, 255, 255, 0.6)}
/* все ссылки */
a {
    text-decoration: none;
}
body {
    width: 1600px;
    background-color:var(--text-white);
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em
    position: absolute;}
/*кнопки*/
.button-main {
    color: var(--text-white);
    background-color: var(--accent);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;}
.button {
    color: var(--secondary-text);
    background-color: var(--accent);
    font-family: inherit;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;}
.list {
    list-style: none;}
/* лого */
.logo {
    color: var(--accent);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;}
.letterweb {
    color: var(--accent);}
.letterstudio {
    color: var(--head-text);}
.letterstudiofooter {
    color: var(--text-white);}
.hero {
    color: var(--text-white);
    background-color: var(--bg-grey);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;}
.link {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
    /* ссылка в заголовке */
.link-header-mail {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*ccылки-футер*/
.boder {
    color: var(--text-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}
/* site nav */
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--secondary-text);
    color: var(--accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;}
.section-title {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;}
.section-head {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;}
.section-people {
    background-color: #F5F4FA;}
.name {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;}
.auth-nav .link:hover, .link:focus {
    color: var(--accent-color);}
.description {
    color: var(--primary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.pro {
    color: var(--primary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;}
.bisness {
    color: var(--primary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;}
.site-auth .link:hover .site-auth .link:focus{
    color: var(--text-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;}
.shadow-link {
    color: var(--text-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;}
.footer {
    color: var(--text-white);
    background-color: var(--bg-grey);}
    
